body {
    background-color: #FFE9A7;}

.logo {
    display: block;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;}

.cowboy {
    width: 100%;
    object-fit: contain;}

.window {
    width: 100%;
    object-fit: contain;}

.box {
    display: flex;
    flex-direction: row;
    position: relative;}

.left {
    flex: 1 1;
    float: right;
    position: absolute;}

.mid {
    flex: 1 1;
    position: absolute;
    height:500px;}

.right {
    flex: 1 1;
    position: relative;
    float: left;
    z-index:-1;}

@font-face{
    font-family: "Font";
    src: url("font.ttf") format("truetype");
}
h1 {
    font-family: Font;
    text-align: center;
    font-size: 45px;
}

.envelope {
    padding: 1em;
    border: 1em solid transparent;
    background: linear-gradient(white, white)
                padding-box,
                repeating-linear-gradient(-45deg,
                #000 0, #000 12.5%,
                transparent 0, transparent 25%,
                #000 0, #000 37.5%,
                transparent 0, transparent 50%)
                0 / 5em 5em;
}
